body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --dark: #333;
  --blue: #00A0C6;
  --white: #fff;
  --gray: #B2B3B3;
  --black: #000;
  --green: #157A8A;
}
